#chapters(data-section='square')

  .chapter#square

    .title#square Square

    .level 1
    .level 2
    .level 3
    .level 4
    .level 5
    .level 6

  .chapter#triangle

    .title#triangle Triangle

    .level 1
    .level 2
    .level 3
    .level 4
    .level 5
    .level 6

  .chapter#diamond

    .title#diamond Diamond

    .level 1
    .level 2
    .level 3
    .level 4
    .level 5
    .level 6

  .chapter#shade

    .title#shade Shade

    .level 1
    .level 2
    .level 3
    .level 4
    .level 5
    .level 6

