#intro
  text-align center
  color #555
  
  visibility hidden
  
  &.active
    visibility visible
  
  #title
    font-size 22px
    
  #description 
    margin 30px auto
    font-size 18px
    
  #btn-start
    margin 366px 0 0 0
    font-size 36px
    